// Color schemes?
$active-text: #cfb995;
$secondary-text: #b2b2b2;
$nav-bg: #303030;
$nav-border: #0000FF;
$sub-text: #5e5e5e;
$dropdown-border: #ecebe9;

$white-two: #f9f9f9;
$white-three: #ecebe9;

$adult-btn-bg: #ff5b5b;
$dad-btn-bg: #ff915b;
$christmas-btn-bg: #ffbe5b;
$job-btn-bg: #ffdf5b;
$birthday-btn-bg: #8fe360;
$social-btn-bg: #57e690;
$puns-btn-bg: #57dbe6;
$all-btn-text: #d0ba93;

$like-btn-bg: #57e690;
$dislike-btn-bg: #ff5b5b;
$like-btn-bg-hover: #42a261;
$dislike-btn-bg-hover: #cd5454;

$popular-new: #57dbe6;
$popular-trending: #ffbe5b;
$popular-fame: #ff5b5b;
$popular-chestnut: #000;
