@font-face {
  font-family: 'Montserrat';
  src: url('../Montserrat/Montserrat-Medium.ttf');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../Montserrat/Montserrat-Thin.ttf');
  font-style: normal;
  font-stretch: normal;
}
